<div class="container">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-secondary btn-sm" type="button" aria-expanded="false" style="margin: 0.5rem 0;">
      Create
    </button>
  </div>
  <div class="row justify-content-start">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>name</th>
          <th>email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>quino</td>
          <td>quino@email.com</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Menu
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Detail</a></li>
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
