<h1>New</h1>
<div class="container">
  <form>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="email" class="form-control" id="name">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
      <label for="password-confirmation" class="form-label">Password confirmation</label>
      <input type="password" class="form-control" id="password-confirmation">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
