<div class="header">
  <ul>
    <li><%= link_to('/admin') do %>home<% end %></li>
    <li><%= link_to('/admin/members/') do %>member<% end %></li>
    <li>dummy</li>
    <li>dummy</li>
  </ul>
  <%= button_to('/admin/logout', method: :delete, class: 'btn btn-outline-light btn-sm') do %>
    Logout
  <% end %>
</div>
